body {
  padding: 0;
  margin: 0;
  overflow: none;
}

.big-container {
  width: 92vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  border: 4px solid blue;
  position: relative;
  margin:auto;
  padding:5px;
}

/* /////////////////////NAME///////////////////// */
.core {
  height: 20%;
  width: 20%;
  display: flex;
}

#name {
  z-index: 10;
  height:60%;
  width:60%;
  max-width:100%;
  max-height:100%;
  color: #0000ff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
}

#b:hover {}

div#name span#a {
  display: inline;
}

div#name:hover span#a {
  display: none;
}

div#name span#b {
  display: none;
}

div#name:hover span#b {
  display: inline;
}
/* /////////////////////NAME///////////////////// */

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  /* justify-content:space-between; */
}

.frame img{
  max-height: 73%;
  max-width: 93%;
  margin: auto;
  /* border: 4px solid blue; */
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
  filter: blur(5px);
}

img {
  position: fixed;
  display: block;
  max-width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -10; */
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: red;
}

.nav-item {
  position: fixed;
}

/* .btn {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  transition: background .3s ease;
  transform: .3s ease;
  border-style: solid;
} */

.btn2 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: fixed;
  transition: background .3s ease;
  transform: .3s ease;
  border-style: solid;
}

.work {
  font-family: halyard-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -8px;
  color: #0000ff;
  top: 20px;
  left: 110px;
  flex: 1;
  /* display: inline-block;
  transform: scale(3, 1);
  white-space: nowrap;
  letter-spacing:-8px; */
}

.work:hover {
  color: #ff0000;
}

.about {
  font-family: halyard-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -8px;
  color: #0000ff;
  top: 20px;
  right: 110px;
  flex: 1;
}

.about:hover {
  color: #ff0000;
}

.nav {
  display: flex;
  width: 90vw;
  height: 90vh;
  position: fixed;
  /* margin:auto; */
  /* justify-content:space-between; */
}

.box {
  max-height: 73%;
  max-width: 93%;
  margin: auto;
  /* border: 4px solid blue; */
  z-index: 1;
  object-fit: cover;
  overflow: hidden;
  display:flex;
}

.resume {
  font-family: halyard-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -8px;
  color: #0000ff;
  bottom: 20px;
  left: 110px;
  flex: 1;
}

.resume:hover {
  color: #ff0000;
}

.contact {
  font-family: halyard-micro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 60px;
  letter-spacing: -8px;
  color: #0000ff;
  bottom: 20px;
  right: 110px;
  flex: 1;
}

.contact:hover {
  color: #ff0000;
}

span.stretch {
  display: inline-block;
  transform: scale(6, 1);
  position: fixed;
  top: 20px;
  left: 47%;
}
