body {
  padding: 0;
  margin: 0;
  overflow: none;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.border {
  display: flex;
  position:relative;
  height: 97%;
  width: 93%;
  margin: auto;
  border: 4px solid blue;
  border-2: 4px solid blue;
  background:transparent;
}

.background {
  left:0;
  right:0;
  z-index:9999;
  filter:blur(3px);
  background-image:url("resources/childhood.jpg");
  background-repeat:repeat;
  background-size: 300px 200px;
  background-position: 0 0, 30px 30px;
  z-index:-1;
}

.core {
  height: 70%;
  width: 100%;
  display: flex;
}

#name {
  text-transform: uppercase;
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 120px;
  line-height: 85%;
  text-align: center;
  color: #0000ff;
  /* mix-blend-mode: difference;
  background-color: transparent;
  color: #fff; */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
}

#b:hover {
  font-family: halyard-display, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 120px;
  /* line-height:60%; */
  color: #ff0000;
  /* mix-blend-mode: difference;
  background-color: transparent;
  color: #fff; */
}

div#name span#a {
  display: inline;
}

div#name:hover span#a {
  display: none;
}

div#name span#b {
  display: none;
}

div#name:hover span#b {
  display: inline;
}

a {
  text-decoration: none;
}

.nav-item {
  position: fixed;
}

.resume {
  font-family: halyard-micro, sans-serif;
  font-weight: 100;
  font-style: italic;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  font-size: 100px;
  letter-spacing: -14px;
  color: #0000ff;
  top: 0px;
  left: 30px;
}

.resume:hover {
  color: #ff0000;
}

.contact {
  font-family: halyard-micro, sans-serif;
  font-weight: 100;
  font-style: italic;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  font-size: 100px;
  letter-spacing: -14px;
  color: #0000ff;
  top: 0px;
  right: 40px;
}

.contact:hover {
  color: #ff0000;
}

.work {
  font-family: halyard-micro, sans-serif;
  font-weight: 100;
  font-style: italic;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  font-size: 100px;
  letter-spacing: -14px;
  color: #0000ff;
  bottom: 0px;
  left: 30px;
}

.work:hover {
  color: #ff0000;
}

.about {
  font-family: halyard-micro, sans-serif;
  font-weight: 100;
  font-style: italic;
  -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-15deg, 0deg);
  font-size: 100px;
  letter-spacing: -14px;
  color: #0000ff;
  text-shadow:
    -.5px -.5px 0 #ff0000,
    0 -.5px 0 #ff0000,
    .5px -.5px 0 #ff0000,
    .5px 0 0 #ff0000,
    .5px .5px 0 #ff0000,
    0 .5px 0 #ff0000,
    -.5px .5px 0 #ff0000,
    -.5px 0 0 #ff0000;
  bottom: 0px;
  right: 40px;
}

.about:hover {
  color: #ff0000;
}

span.stretch {
  display: inline-block;
  transform: scale(6, 1);
  position: fixed;
  top: 20px;
  left: 47%;
}
