#name {
  color: #0000ff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  white-space: nowrap;
}

#b:hover {
}

div#name span#a {
  display: inline;
}

div#name:hover span#a {
  display: none;
}

div#name span#b {
  display: none;
}

div#name:hover span#b {
  display: inline;
}
