html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 1px 1px 1px;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#ff0000;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//////////////////////////////////////////////////////

.container{
	100vh;
}

.header{
	display:flex;
	height:10%;
	width:100%;8
}

.head {
	font-family: halyard-display, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.h1 {
	filter:blur(1px);
	text-shadow:0px 0px 1px #0000ff;
  color:#0000ff;
	font-family: halyard-text, sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 10vh;
	text-align: center;
	padding: 10px 10px 10px;
}

.body-container{
	display:flex;
	height:20vh;
	width:100vh
	float:left;
	padding: 10px 10px 10px;
}

.body-container2{
	display:flex;
	height:20vh;
	width:100vh
	float:right;
	padding: 10px 10px 10px;
}


.p1 {
  font-size: 20px;
  color:#0000ff;
	font-family: halyard-text, sans-serif;
	font-weight: 300;
	font-style: normal;
	text-shadow:
	text-align:center;
		-.5px -.5px 0 #ffffff,
		0 -.5px 0 #ffffff,
		.5px -.5px 0 #ffffff,
		.5px 0 0 #ffffff,
		.5px .5px 0 #ffffff,
		0 .5px 0 #ffffff,
		-.5px .5px 0 #ffffff,
		-.5px 0 0 #ffffff;
		float:right;
}

.p2{
	font-family: halyard-text, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 80px;
	color:#0000ff;
	text-align: center;
	text-shadow:
		-.5px -.5px 0 #ffffff,
		0 -.5px 0 #ffffff,
		.5px -.5px 0 #ffffff,
		.5px 0 0 #ffffff,
		.5px .5px 0 #ffffff,
		0 .5px 0 #ffffff,
		-.5px .5px 0 #ffffff,
		-.5px 0 0 #ffffff;
}
